@import "base.css";
html {
    font-size: 100px; }

body {
    font-size: 16px; }

@media screen and (min-width: 320px) {
    html {
        font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
    html {
        font-size: 48px; } }

@media screen and (min-width: 375px) {
    html {
        font-size: 50px; } }

@media screen and (min-width: 412px) {
    html {
        font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px; } }

.head{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.22rem;
    box-sizing: border-box;
    font-size: 0.38rem;
    line-height: 0.88rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0.03rem 0.04rem 0 rgba(41,171,255,0.13);
}
.head >span{
    color: #4ebbfe;
}
.head >a{
    color: #4ebbfe;
}
.image{
    width: 100%;
    height: 7.02rem;
    padding: 0 0.22rem;
    line-height: 7.02rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image > img{
    width: 3.01rem;
    height: 3.62rem;
    display: block;
}
.introduce{
    width: 100%;
    height: 1.70rem;
    padding: 0 0.22rem;
    box-sizing: border-box;
    border-bottom: 0.01rem solid #e4e3e3;
    /*background:#f9bf77;*/
}
.introduce > h1{
    width: 2.47rem;
    height: 0.29rem;
    font-size: 0.3rem;
    font-weight: bold;
    color:rgba(0,0,0,0.6);
}
.introduce > p{
    width: 6.84rem;
    height: 0.55rem;
    font-size: 0.22rem;
    font-weight: bold;
    color: rgba(0,0,0,0.3);
    margin-top: 0.15rem;
}
.info > span:first-child{
    font-size: 0.26rem;
    color: #fbb548;
}
.info > span:nth-child(2){
    font-size: 0.2rem;
    color:#41b2fc;
    background: rgba(65,128,252,0.1);
    padding: 0.08rem 0.2rem;
    border-radius: 0.18rem;
    margin-left: 0.3rem;
}
.info > span:nth-child(3){
    font-size: 0.2rem;
    color:#36d681;
    background: rgba(54,214,129,0.1);
    padding: 0.08rem 0.2rem;
    border-radius: 0.18rem;
    margin-left: 0.3rem;
}
.total{
    float: right;
    font-size: 0.2rem;
    color: rgba(0,0,0,0.3);
}
.total > strong{
    color: #36a8fe;
    font-size: 0.24rem;
    margin-right: 0.14rem;
    margin-bottom: 0.01rem;
}
.info .total{
    position: relative;
    padding-left: 0.14rem;
}
.info .total::before{
    content: '';
    position: absolute;
    width: 0.06rem;
    height: 0.06rem;
    left: 0rem;
    top: 0.14rem;
    border-radius: 50%;
    background: #36d681;
}
.discount{
    height: 0.87rem;
    width: 100%;
    padding: 0 0.22rem;
    box-sizing: border-box;
    border-bottom: 0.01rem solid #e4e3e3;
    line-height: 0.87rem;
}
.discount img{
    width: 0.49rem;
    height: 0.23rem;
}
.discount > .word{
    width: 0.50rem;
    height: 0.24rem;
    font-size: 0.24rem;
    color: #ff844e;
}
.discount > .jianbian{
    padding: 0.08rem 0.2rem;
    border-radius: 0.22rem;
    font-size: 0.24rem;
    color: white;
    background-image: linear-gradient(-90deg,#ffca3b,#ff933b);;
}
.middle{
    height: 0.78rem;
    width: 100%;
    padding: 0 0.22rem;
    box-sizing: border-box;
    border-bottom: 0.01rem solid #e4e3e3;
    line-height: 0.78rem;
}
.middle > span{
    font-size: 0.24rem;
    color: #41b2fc;
    margin-right: 0.44rem;
    padding-left: 0.14rem;
    position: relative;
}
.middle span::before{
    content: '';
    position: absolute;
    width: 0.06rem;
    height: 0.06rem;
    left: 0rem;
    top: 0.14rem;
    border-radius: 50%;
    background:#36d681;
}
.assess{
    width: 100%;
    height: 6.8rem;
    padding: 0 0.22rem;
    box-sizing: border-box;
    border-bottom: 0.01rem solid #e4e3e3;
    /*line-height: 3.16rem;*/
}
.assess > .header{
    width: 100%;
    height: 1.28rem;
    padding: 0 0.22rem;
    box-sizing: border-box;
    font-size: 0.38rem;
    line-height: 1.28rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    /*box-shadow: 0 0.03rem 0.04rem 0 rgba(41,171,255,0.13);*/
}
.assess > .header > span::before{
    content: '';
    position: absolute;
    width: 0.06rem;
    height: 0.06rem;
    left: 0rem;
    top: 0.59rem;
    border-radius: 50%;
    background:#36d681;
}
.assess > .header > span{
    font-size: 0.32rem;
    color: #41b2fc;
}
.assess > .header > span >b{
    font-size: 0.32rem;
    color: #4f5b64;
    font-weight: normal;
}
.assess > .header > a{
    color: #41b2fc;
    font-size: 0.22rem;
    float: right;
}
.comment{
    height: auto;
}
.commentItem{
    height: 1.96rem;
    /*border-bottom: 0.01rem solid #d8dfe3;*/
    display: flex;
}
.commentItem > .avatar{
    height: 0.86rem;
    width: 0.86rem;
    border-radius: 50%;
    overflow: hidden;
    position:relative ;
    flew: none;
}
.commentItem > .avatar > img{
    position: absolute;
    top: 0;
    left: 0;
}
.commentInfo{
    flex-grow: 1;
    padding-top: 0.3rem;
    padding-left: 0.2rem;
}
.infotop{
    font-size: 0.22rem;
    color: #cfcfcf;
    overflow: hidden;
}
.infotop > .username{
    float: left;
}
.infotop > .date{
    float: right;
    color: #41b2fc;
}
.infotop > .star{
    width: 1.28rem;
    height: 0.28rem;
    float:left;
    margin-left: 0.4rem;
    position: relative;
}
.infotop > .star > div{
    width: 1.28rem;
    height: 0.28rem;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.infotop > .star > div > [src]{
    width: 1.28rem;
    height: 0.28rem;
}
.commentcon{
    margin-top: 0.24rem;
}
.commentcon i:first-child{
    font-style: normal;
    font-size: 0.26rem;
    color: rgba(0,0,0,0.6);
}
.commentcon i:last-child{
    font-style: normal;
    font-size: 0.22rem;
    color: rgba(0,0,0,0.3);
}
.commentInfo .cc img{
    width: 1.80rem;
    height: 1.01rem;
}
.store{
    width: 100%;
    height: 7.30rem;
    padding: 0 0.22rem;
    box-sizing: border-box;
    border-bottom: 0.01rem solid #e4e3e3;
}
.store .header{
    height: 0.78rem;
    width: 100%;
    padding: 0 0.22rem;
    box-sizing: border-box;
    border-top: 0.01rem solid #e4e3e3;
    border-bottom: 0.01rem solid #e4e3e3;
    line-height: 0.78rem;
    position: relative;
}
.store .header > span::before{
    content: '';
    position: absolute;
    width: 0.06rem;
    height: 0.06rem;
    left: 0;
    top: 0.36rem;
    border-radius: 50%;
    background:#36d681;
    /*margin-left: 0.15rem;*/
    /*margin-left: 0.15rem;*/
}
.store .header > span{
    font-size: 0.32rem;
    color: #36d681;
}
.store .header> span >b{
    font-size: 0.32rem;
    color: #4f5b64;
    font-weight: normal;
}
.store .image{
    width: 100%;
    height: 5.66rem;
}
.tuijian{
    width: 100%;
    height: 7.30rem;
    padding: 0 0.22rem;
    box-sizing: border-box;
    border-bottom: 0.01rem solid #e4e3e3;
}
.tuijian .header{
    height: 0.78rem;
    width: 100%;
    padding: 0 0.22rem;
    box-sizing: border-box;
    border-top: 0.01rem solid #e4e3e3;
    border-bottom: 0.01rem solid #e4e3e3;
    line-height: 0.78rem;
    position: relative;
}
.tuijian .header > span::before{
    content: '';
    position: absolute;
    width: 0.06rem;
    height: 0.06rem;
    left: 0;
    top: 0.36rem;
    border-radius: 50%;
    background:#36d681;
    /*margin-left: 0.15rem;*/
    /*margin-left: 0.15rem;*/
}
.tuijian .header > span{
    font-size: 0.32rem;
    color: #36d681;
}
.tuijian .header> span >b{
    font-size: 0.32rem;
    color: #4f5b64;
    font-weight: normal;
}
.tuijianlist{
    height: 6.54rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.tuijianlist > li{
    width: 2.26rem;
    height: 3.20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.tuijianlist > li > img{
    width: 1.31rem;
    height: 1.37rem;
}
.tuijianlist > li > p:nth-child(2){
    font-size: 0.28rem;
    color: rgba(0,0,0,0.6);
    margin-top: 0.2rem;
}
.tuijianlist > li > p:nth-child(3){
    font-size: 0.28rem;
    color: #fbb548;
    margin-top: 0.1rem;
}
.bottom{
    width: 7.49rem;
    height: 1.09rem;
    background: #f1faff;
    display: flex;
    justify-content: space-around;
    line-height: 1.09rem;
}
.bottom img{
    width: 1rem;
    height: 0.7rem;
    margin-top: 0.3rem;
}
.bottominfo > span:nth-child(1){
    font-size: 0.2rem;
    color:#36d681;
    background: rgba(54,214,129,0.1);
    box-shadow: 0px 4px 20px 0px rgba(55, 223, 116, 0.75);
    padding: 0.08rem 0.2rem;
    border-radius: 0.18rem;
    margin-left: 0.3rem;
}
.bottominfo > span:nth-child(2){
    font-size: 0.2rem;
    padding: 0.08rem 0.2rem;
    border-radius: 0.18rem;
    margin-left: 0.3rem;
    color:#41b2fc;
    background: rgba(65,128,252,0.1);
    box-shadow: 0px 5px 12px 0px rgba(59, 172, 254, 0.43);
}










