@import "base.css";
html {
    font-size: 100px; }

body {
    font-size: 16px; }

@media screen and (min-width: 320px) {
    html {
        font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
    html {
        font-size: 48px; } }

@media screen and (min-width: 375px) {
    html {
        font-size: 50px; } }

@media screen and (min-width: 412px) {
    html {
        font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px; } }

.head{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.22rem;
    box-sizing: border-box;
    font-size: 0.38rem;
    line-height: 0.88rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0.03rem 0.04rem 0 rgba(41,171,255,0.13);
}
.head >span{
    color: #4ebbfe;
}
.head >a{
    color: #4ebbfe;
}
.image{
    width: 100%;
    height: 7.02rem;
    padding: 0 0.22rem;
    line-height: 7.02rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image > img{
    width: 3.01rem;
    height: 3.62rem;
    display: block;
}
.introduce{
    width: 100%;
    height: 1.70rem;
    padding: 0 0.22rem;
    box-sizing: border-box;
    border-bottom: 0.01rem solid #e4e3e3;
    /*background:#f9bf77;*/
}
.introduce > h1{
    width: 2.47rem;
    height: 0.29rem;
    font-size: 0.3rem;
    font-weight: bold;
    color:rgba(0,0,0,0.6);
}
.introduce > p{
    width: 6.84rem;
    height: 0.55rem;
    font-size: 0.22rem;
    font-weight: bold;
    color: rgba(0,0,0,0.3);
    margin-top: 0.2rem;
}
.info{
    margin-top: 0.08rem;
}
.info > span:first-child{
    font-size: 0.26rem;
    color: #fbb548;
}
.info > span:nth-child(2){
    font-size: 0.24rem;
    padding: 0.08rem 0.2rem;
    border-radius: 0.18rem;
    margin-left: 0.3rem;
    text-decoration:line-through;
    letter-spacing: 0px;
    color:rgba(0,0,0,0.3);
}
.total{
    float: right;
    font-size: 0.2rem;
    color: rgba(0,0,0,0.3);
}
.total > strong{
    color: #36a8fe;
    font-size: 0.24rem;
    margin-right: 0.14rem;
    margin-bottom: 0.01rem;
}
.info .total{
    position: relative;
    padding-left: 0.14rem;
}
.info .total::before{
    content: '';
    position: absolute;
    width: 0.06rem;
    height: 0.06rem;
    left: 0rem;
    top: 0.14rem;
    border-radius: 50%;
    background: #36d681;
}
.discount{
    height: 0.87rem;
    width: 100%;
    padding: 0 0.22rem;
    box-sizing: border-box;
    border-bottom: 0.01rem solid #e4e3e3;
    line-height: 0.87rem;
}
.discount img{
    width: 0.49rem;
    height: 0.23rem;
}
.discount > .word{
    width: 0.50rem;
    height: 0.24rem;
    font-size: 0.24rem;
    color: #ff844e;
}
.discount > .jianbian{
    padding: 0.08rem 0.2rem;
    border-radius: 0.22rem;
    font-size: 0.24rem;
    color: white;
    background-image: linear-gradient(-90deg,#ffca3b,#ff933b);;
}
.middle{
    height: 0.78rem;
    width: 100%;
    padding: 0 0.22rem;
    box-sizing: border-box;
    line-height: 0.78rem;
}
.middle > span{
    font-size: 0.24rem;
    color: #41b2fc;
    margin-right: 0.44rem;
    padding-left: 0.14rem;
    position: relative;
}
.middle span::before{
    content: '';
    position: absolute;
    width: 0.06rem;
    height: 0.06rem;
    left: 0rem;
    top: 0.14rem;
    border-radius: 50%;
    background:#36d681;
}
.bottom{
    width: 7.49rem;
    height: 1.09rem;
    background: #f1faff;
    display: flex;
    justify-content: space-around;
    line-height: 1.09rem;
    position: absolute;
    bottom: 0;
    right:0;
}
.bottom img{
    width: 1rem;
    height: 0.7rem;
    margin-top: 0.3rem;
}
.bottominfo > span:nth-child(1){
    font-size: 0.2rem;
    color:#36d681;
    background: rgba(54,214,129,0.1);
    box-shadow: 0px 4px 20px 0px rgba(55, 223, 116, 0.75);
    padding: 0.08rem 0.2rem;
    border-radius: 0.18rem;
    margin-left: 0.3rem;
}
.bottominfo > span:nth-child(2){
    font-size: 0.2rem;
    padding: 0.08rem 0.2rem;
    border-radius: 0.18rem;
    margin-left: 0.3rem;
    color:#41b2fc;
    background: rgba(65,128,252,0.1);
    box-shadow: 0px 5px 12px 0px rgba(59, 172, 254, 0.43);
}










